body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  .pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .pokemones-card {
    text-align: center;
    position: relative;
    color: #ffffff;
    border-radius: 10px;
    border: solid #000 2px;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    width: 260px;
    height: 450px;
    margin-right: 15px;
    margin-bottom: 30px;
  }

  .pokemones-card:hover {
    transform: translate(-15px, -15px);
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #464c55,
                0 0 25px #464c55,
                0 0 50px #464c55,
                0 0 200px #464c55;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    
  }
  
.pokemon-name {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px; 
}
  
  .sprite-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .sprite-container img {
    width: 200px; 
    height: 200px; 
    margin-top: 50px;
    
    max-width: 95%;
    height: auto;
  }
  
  .pokemon-info {
    padding: 15px;
    background-color: #f0f0f0;
  }
  
  .estadisticas-info ul,
  .movimientos-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .estadisticas-info li,
  .movimientos-info li {
    padding: 5px 0;
  }

 /* Colores según tipo */
.pokemones-card.grass { background-color: #51d832; }
.pokemones-card.fire { background-color: #ff6a00; }
.pokemones-card.water { background-color: #3e71e6; }
.pokemones-card.electric { background-color: #F8D030; }
.pokemones-card.ice { background-color: #98D8D8; }
.pokemones-card.ground { background-color: #E0C068; }
.pokemones-card.rock { background-color: #B8A038; }
.pokemones-card.flying { background-color: #A890F0; }
.pokemones-card.poison { background-color: #A040A0; }
.pokemones-card.bug { background-color: #A8B820; }
.pokemones-card.dragon { background-color: #7038F8; }
.pokemones-card.psychic { background-color: #F85888; }
.pokemones-card.dark { background-color: #705848; }
.pokemones-card.fighting { background-color: #C03028; }
.pokemones-card.steel { background-color:  #B8B8D0;}
.pokemones-card.normal { background-color: #A8A878; }
.pokemones-card.fairy { background-color: #EE99AC; }
.pokemones-card.ghost { background-color: #473a55; }
 
.details-card.grass { background-color: #51d832; }
.details-card.fire { background-color: #ff6a00; }
.details-card.water { background-color: #3e71e6; }
.details-card.electric { background-color: #F8D030; }
.details-card.ice { background-color: #98D8D8; }
.details-card.ground { background-color: #E0C068; }
.details-card.rock { background-color: #B8A038; }
.details-card.flying { background-color: #A890F0; }
.details-card.poison { background-color: #A040A0; }
.details-card.bug { background-color: #A8B820; }
.details-card.dragon { background-color: #7038F8; }
.details-card.psychic { background-color: #F85888; }
.details-card.dark { background-color: #705848; }
.details-card.fighting { background-color: #C03028; }
.details-card.steel { background-color:  #B8B8D0;}
.details-card.normal { background-color: #A8A878; }
.details-card.fairy { background-color: #EE99AC; }
.details-card.ghost { background-color: #473a55; }

.pokemones-card:hover .tipos-container {
  display: block;
}

.tipos-container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  transition: opacity 1.3s, transform 1.3s;
}

.tipos-container div {
  display: inline-block;
  padding: 2px 8px;
  margin: 2px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.tipos-grass { background-color: #7ee04d; }
.tipos-fire { background-color: #f03e1f; }
.tipos-water { background-color: #2969ff; }
.tipos-electric { background-color: #e8ef25; }
.tipos-ice { background-color: #49e2e2; }
.tipos-ground { background-color: #ffd151; }
.tipos-rock { background-color: #e4c744; }
.tipos-flying { background-color: #d3c4ff; }
.tipos-poison { background-color: #bd2bbd; }
.tipos-bug { background-color: #d0e325; }
.tipos-dragon { background-color: #7038F8; }
.tipos-psychic { background-color: #f83e76; }
.tipos-dark { background-color: #58483e; }
.tipos-fighting { background-color: #e43a31; }
.tipos-steel { background-color:  #dfdffb;}
.tipos-normal { background-color: #cdcd95; }
.tipos-fairy { background-color: #fb91a8; }
.tipos-ghost { background-color: #3c2f4a; }
  /* al dar click al pokemon */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.pokemones-sprite{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 250px; 
  height: 250px; 
}
/*animacion basica sprite al mostrar la informacion del pokemon*/
.sprite-animacion {
  animation: moveUpDown 2.5s infinite alternate; 
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px); 
  }
}
.details-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

  .navbar {
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 10px;
  }
  
  .navbar ul {
    display: flex;
    width: 550px;
    
  }
  
  .navbar ul li {
    position: relative;
    list-style: none;
    width: 130px;
    height: 40px;
    z-index: 1;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  .navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin: 10 10px;
    padding: 4px 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
  }
  
  .navbar a:hover {
    background-color: #f0f0f0;
  }

  .navbar a.selected {
    background-color: #f0f0f0;
    transition: padding-bottom 0.5s;
    padding-bottom: 60px;
  }
  /* Estilos para los diferentes apartados */
  .informacion-basica,
  .estadisticas-info,
  .habilidades-info,
  .movimientos-info {
    display: none;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    padding-left: 50px;
    padding-right: 80px;
    height: 270px;
  }

  .informacion-basica h3,
  .estadisticas-info h3,
  .habilidades-info h3,
  .movimientos-info h3 {
    margin-left: 25px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.habilidades-list {
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  margin-left: 25px;
}

.habilidades {
  display: inline-block;
  padding: 5px 10px;
  background-color: #0008ff;
  border-radius: 5px;
  font-size: 14px;
}
.mov-list {
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 25px;
}

.mov-row {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin-bottom: 10px;
}

.mov {
  background-color: #0008ff;
  padding: 5px 10px;
  border-radius: 7px;
  width: 48%; 
  text-align: center;
  font-size: 14px;
}
  .show-section {
    display: block;
  }

  .stat-bar {
    width: 100%;
    height: 12px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 4px #24416c,
                0 0 4px #24416c,
                0 0 4px #24416c,
                0 0 4px #24416c;
    
    
  }
  /* Color con el que sellenara la barra  */
  .stat-fill {
    height: 100%;
    border-radius: 5px;
   
    background-color: #0008ff; 
    
  }
  /* Coinvertir en mayuscula los nombres de los stats  */
  .stat-name {
    text-transform: uppercase;
  }
  
  